<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  </head>
  <body class="p-3 mb-2 bg-primary-subtle text-emphasis-primary">

<h1 class="text-center text-primary-emphasis " style="font-size:700%;"> 404</h1>
<br>
<div class="text-center">
<img  src = "/static/ghost-removebg-preview.png">
<br>
<h2  class="text-primary-emphasis">This Page is a Ghost</h2>
<p class="text-primary-emphasis">Once alive and now dead, this ghost appears to have some unfinished business. Could it be with you? Or the treasure hidden under the floorboards of the old mansion in the hills that may never reach its rightful owner, a compassionate school teacher in Brooklyn.</p>
</div>


</body>
</html>